<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVolunteerLabel">Create or edit a Volunteer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!volunteer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="volunteer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="volunteer.username" required />
            <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_specialite">Specialite</label>
            <select class="form-control" name="specialite" [(ngModel)]="volunteer.specialite" id="field_specialite" >
                <option value="MEDECIN">MEDECIN</option>
                <option value="OUVREUR">OUVREUR</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_race">Race</label>
            <select class="form-control" id="field_race" name="race" [(ngModel)]="volunteer.race" >
                <option [ngValue]="null"></option>
                <option [ngValue]="raceOption.id === volunteer.race?.id ? volunteer.race : raceOption" *ngFor="let raceOption of races; trackBy: trackRaceById">{{raceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
