<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRaceLabel">Création ou édition d'une course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!race.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="race.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_place">Lieu</label>
            <input type="text" class="form-control" name="place" id="field_place"
                [(ngModel)]="race.place" required />
            <div [hidden]="!(editForm.controls.place?.dirty && editForm.controls.place?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.place?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="race.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Sauvegarder</span>
        </button>
    </div>
</form>
