<div>
    <h2>
        <span>Les Courses</span>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive" *ngIf="courses">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Type</span></th>
                        <th><span>Nom</span></th>
                        <th><span>Département</span></th>
                        <th><span>Lieu</span></th>
                        <th><span>Date</span></th>
                        <th><span>Prix</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let course of courses ;trackBy: trackId">
                        <td>{{course.raceType}}</td>
                        <td>{{course.raceName}}</td>
                        <td>{{course.department}}</td>
                        <td>{{course.place}}</td>
                        <td>{{course.date | date:"dd/MM/yyyy"}}</td>
                        <td>{{course.price}} €</td>
                        <td class="text-right">
                            <button type="submit"
                                    [routerLink]="['../course', course.id ]"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline">Détails</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="courses.length ==0" class="text-center">
                    Il n'y a pas de résultats correpondant à votre recherche... pour le moment
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <dt class="text-muted">Type de course</dt>
            <dd>
                <div class="form-group">
                    <select class="form-control" id="searchType" [(ngModel)]="searchType">
                        <option></option>
                        <option>MARATHON</option>
                        <option>SKI </option>
                    </select>
                </div>
            </dd>
            <form name="dateForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input id="currentDate" type="text" class="form-control" name="currentDate" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="searchDate" placeholder="Date"/>
                    <button class="input-group-addon btn btn-info" (click)="dateDp.toggle()">
                        <span class="fa fa-calendar-o"></span>
                    </button>
                </div>
            </form>
            <br/>
            <dt class="text-muted">Département</dt>
            <dd>
                <div class="form-group">
                    <select class="form-control" id="dept" [(ngModel)]="searchDept">
                        <option></option>
                        <option *ngFor="let dept of departements" [value]="dept">{{dept}}</option>
                    </select>
                </div>
            </dd>
            <form name="placeForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="searchPlace" id="searchPlace" name="searchPlace" placeholder="Lieu">
                </div>
            </form>
            <br/>
            <div class="form-inline">
                <button class="btn btn-info btn-block" (click)="search()">
                    <span class="fa fa-search"></span>
                    <span>Rechercher</span>
                </button>
            </div>
        </div>
    </div>
</div>
